* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #411f15;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    border: 2px solid rgb(158, 158, 158);
}
h1 {
    background-color: gray;
    padding: 10px;
    width:fit-content;
    margin: 10px 10px 0px 10px;
    color: azure;
}

p, ul{
    background-color: azure;
    padding: 10px;
    margin: 5px 10px;
    width:fit-content;
}

ul {
    margin-bottom: 10px;
}
ul li {
    margin-left: 15px;
}